<div class="box-content" (click)='onClick($event)'>
    <mat-card class="box-card mat-elevation-z">
        <div *ngIf="!isSelected else elseBlock" class="box-card-image box-card-image-wrapper">
            <img class="box-card-image" mat-card-image src="{{box.iconUrl}}" alt="This Appetizing Hype box">
        </div>

        <ng-template #elseBlock>
            <ng-container *ngIf="hasBack;else finallyBlock">
                <div class="box-card-image-back gradient-border">
                    <img class="mat-card-image" src="{{alternateView.iconUrl}}" alt="This Appetizing Hype box">

                    <mat-card-content class="box-card-text">
                        <h4 class="box-card-text-currency">&pound;</h4>
                        <h4 class="box-card-text-cost">{{box.value}}</h4>
                        <p class="box-card-text-user">
                            {{alternateView.user}}
                        </p>
                    </mat-card-content>
                </div>
            </ng-container>
        </ng-template>

        <ng-template #finallyBlock>
                <div class="box-card-image box-card-image-wrapper box-card-image-wrapper-grid">
                        <img class="box-card-image" mat-card-image src="{{box.iconUrl}}" alt="This Appetizing Hype box">
                    </div>
            
            <!-- <div>overlay</div> -->

        </ng-template>

    </mat-card>
</div>