@import "../../../sass/common.scss";

.box-card {
  padding: 0;
  min-width: $bo_base;
  height: $bo_base;
  position: relative;
  &-text {
    &-cost,
    &-currency {
      display: block;
      position: absolute;
      font-size: 3em;
      top: 0;
      text-shadow: 1px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -1px 0 0 #ffffff;
      line-height: 2;
    }

    &-cost {
      font-size: 4em;
      line-height: 1;
    }

  }
  &-image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    &-back {
      position: absolute;
      width: auto;
      @include animate(select, 0.3s, 0.1s);
    }

    &-wrapper {
      @include animate(base, 0.7s, 0.1);
      &-grid {
        height: 4em;
        width: auto;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
 
        img {
          max-width: 4em;
          height: auto;
        }
        
      }
      &-back {
        width: 100%;
        height: 100%;
        background-color: white;
        img {
          width: auto;
          height: 8em;
          display: block;
          top: -1em;
          scale: (1.5);
        }
      }
    }
  }
  .list-card-item {
    display: block;
  }
}
