<mat-grid-list cols="2" rowHeight="6em">
    <ng-container *ngFor="let box of boxes">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <list-card-item [hasBack]='false' [staySelected]='true' [box]='box'>

            </list-card-item>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>