<div *ngIf="boxOpenings === undefined else elseBlock">...loading</div>
<ng-template #elseBlock>
    <div class="box-openings">
        <mat-nav-list class="box-openings-list list-horizontal">
            <mat-list-item *ngFor="let item of boxOpenings">
                <div class="box-openings-content-item">
                    <list-card-item [box]='item' (selectEvent)='selectEventHander($event)' [hasBack]='true'></list-card-item>
                </div>
            </mat-list-item>
        </mat-nav-list>

    </div>
</ng-template>