@import "../../sass/common.scss";

$margin: 2em;

.box-openings {

  max-width: 100%;
  height: 12em;
  margin: margin 0;
  mat-nav-list.list-horizontal {
    outline: 1px solid #e3e3e3;
    padding: 0;
    height:  inherit !important;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    .mat-list-item {
      display: inline-flex;
      width: auto;
      height: inherit !important;
      .box-card-image.mat-card-image {
        height: 10em!important;
        width: auto!important;
      }
    }
  
  }
}
