<div *ngIf="boxViewMeta === undefined else elseBlock">...loading</div>
<ng-template #elseBlock>
    <div *ngFor="let box of boxViewMeta.data| keyvalue">
        <div class="box-meta-content">
            <mat-card class="box-meta-card">
                <img class="box-meta-card-image" mat-card-image src="{{box.value.iconUrl}}"
                    alt="This Appetizing Hype box">
                <mat-card-content>
                    <h1 class="box-meta-title">&pound;{{box.value.cost}}</h1>
                    <p class="box-meta-description">
                        {{box.value.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- TODO: togliere tutte le stracazzo di override sui css e mettere classi come cristo comanda -->
                    <button mat-rised-button color="primary" class="mat-raised-button mat-button-base mat-primary">Purchase Box</button>
                    <button mat-rised-button color="secondary" class="mat-raised-button mat-button-base mat-secondary">Provably fair</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-template>