@import '../../sass/common.scss';

.box-meta {
  &-content {
    padding: 12px;
    background-color: #e1e1e1;
    .mat-card {
        background-color: #e3e3e3;
      }
  }
 
  &-title {
    @include centertext;
  }

  &-description {
    //this are,  in effects, useless here. In a prod environment
    //and with a style guide an approach like this saves time.
    @include eightyperc;
    @include centertext;
    margin: 0 auto;
  }

  &-card {
    &-image {
      @include eightyperc;
      display: block;
      margin: 0 auto;
      
    }

    .mat-raised-button {
      width: 80%;
      border-radius: 1.8em;
      min-height: 3.6em;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}
