@font-face {
  font-family: myFirstFont;
  src: url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);
}
@mixin eightyperc {
  max-width: 80%;
  max-height: 80%;
}

@mixin centertext {
  text-align: center;
}

@mixin animate($animName, $time, $delay) {
  animation-name: $animName;
  animation-duration: $time;
  animation-delay: $delay;
  animation-fill-mode: forwards;
}

@keyframes base {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes select {
  0% {
    height: 100%;
    margin-left: 0%;
    opacity: 0;
  }
  100% {
    height: 80%;
    margin-left: 10%;
    opacity: 1;
  }
}
$bo_base: 8em !important;

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

